@import '../../../../styles.scss';
.horreur{
    margin: 0px 80px 100px 80px;
    @include breakpoint(mobil){
        margin: 0px 20px 60px 20px;
    }
    &__heading{
        margin-bottom: 100px;
        @include breakpoint(mobil){
            margin-bottom: 60px;
        }
        &>h1{
        @include text;
    }
    }
    &__article{
        display: flex;
        gap: 0px 20px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        @include breakpoint(tablette){
        gap: 40px 0px;  
        }
        @include breakpoint(mobil){
        gap: 20px 0px;  
        }
    }
}