<div class="decouvrir">
  <h1 class="decouvrir__title">Bienvenue sur RACONTE</h1>
  <div class="decouvrir__box">
    <p class="decouvrir__content">
      Sur RACONTE, nous croyons que chaque personne vit ses propres expériences
      et possède une imagination unique. Notre plateforme a été créée dans le
      but d'offrir aux utilisateurs un espace où ils peuvent lire et raconter
      leurs histoires, qu'elles soient tirées de leur imagination ou basées sur
      des faits réels.
    </p>
  </div>
</div>
