@import '../../../styles.scss';
.decouvrir{
    padding: 0px 80px;
    height: 100%;
    @include breakpoint(mobil){
        padding: 0px 20px;
    }
    &__title{
        @include text;
        // margin-bottom: 0px;
    }
    &__box{
        height: 55vh;
        display: flex;
        justify-content: center;
        @include breakpoint(mobil){
            height: 60vh;
        }
    
    }
    &__content{
        width: 800px;
        @include body;
        padding: 40px 0px 60px 0px;
        @include breakpoint(tablette){
            width: 100%;
        }
        @include breakpoint(mobil){
            font-size: $size-bodymob;
            padding: 20px 0px 40px 0px;
        }
        margin: 0px;
    }
}