@import '../../../../styles.scss';
.footer{
    background-color: $color-secondary;
    margin: 0px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    &>p{
        color: #fff !important;
        @include link($size:$size-body);
        text-align: center;
    }
}