@import '../../../../styles.scss';
.fiction{
    margin: 0px 80px;
    @include breakpoint(mobil){
    margin: 0px 20px;
    }
    &__heading>h1{
        @include text;
    }
    &__article{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        margin: 100px 0px;
        flex-wrap: wrap;
        @include breakpoint(tablette){
        gap: 40px 0px;  
        }
        @include breakpoint(mobil){
            gap: 20px 0;
            margin: 60px 0px;
        }
    }
}