<div class="landing">
    <section class="landing__cover">
        <h1 class="landing__cover__title">Découvrez, partagez et immortalisez votre propre récit.</h1>
        <app-subscribe></app-subscribe>
    </section>
    <section class="landing__article">
        <p>Histoires recentes</p>
        <app-raconte-recente-list></app-raconte-recente-list>
    </section>
    <section class="landing__article">
        <p>Toutes les histoires</p>
        <app-raconte-list></app-raconte-list>
    </section>
</div>
