@import '../../../../styles.scss';
.article-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px 50px;
    @include breakpoint(mobil){
        gap:40px;
    }
}